.menu-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;

    .hamburger-menu-line {
        width: 24px;
        height: 3px;
        margin-bottom: 4px;
        background: $menu-color;
    }
}

.menu-items {
    margin: 0;
    display: none;
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.menu-item {
    list-style-type: none;

    a {
        font-size: 1.2rem;
        color: $menu-color;
        padding-left: 2rem;
    }
}

.current {
    a {
        color: $menu-color-active;
    }
}