* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #ffffff;
    font-size: 24px;
    padding: 0 16px;
}

h1>span {
    font-size: 20px;
}

li>a {
    margin: 0 15px;
    text-decoration: none;
    color: #ffffff;
}

.header {
    width: 100%;
    height: 75px;
    background: rgba(65,65, 65, 1);
    position: fixed;
    display: flex;
    align-items: center;
    top: 0px;
    left: 0px;
    box-shadow: 0px 2px 5px 0px rgba(78, 78, 78, 0.75);
    z-index: 1;
}

.top-nav-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.top-nav-display {
    display: none;
}

.main-container {
    margin: 0px 0px 60px 0px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 75px;
}

.background-img {
    background: url("../img/skijump.jpg") no-repeat center center;
    background-size: cover;
}

.bottom-nav-container {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    background: rgba(65,65, 65, 0.75);
    backdrop-filter: blur(8px);
    box-shadow: 0px -2px 5px 0px rgba(78, 78, 78, 0.75);
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 12px;
    font-weight: 300;
    list-style: none;
    width: 100%;
    height: 100%;
}

.nav-list-item >a{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icons {
    margin: 6px auto;
    width: 24px;
    cursor: pointer;
}

.list-container {
    display: flex;
    flex-direction: column;
    list-style: none;
}

/* Main Page Turnstile Animations */
.wrapper {
    width: 100%;
    height: 200px;
    background: rgba(255,255,255,1);
    padding-top: 16px;
    overflow-y: auto;
    border-bottom: 1px solid #b6b6b6;
    position: relative;
}

.about-me-wrapper {
    height: 180px;
}

.turnstile {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 32px;
    cursor: pointer;
}

.content {
    font-size: 16px;
    color: #000000;
    margin-left: 32px;
    margin-right: 32px;
}

.collapseBtn {
    text-decoration: none;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 20px;
    top: 28px;
    cursor: pointer;
}

@keyframes turn-down {
    0% {
        transform-origin: top left;
    }

    100% {
        transform-origin: top left;
        transform: rotate(90deg);
        width: 200px;
        height: 32px;
        padding-left: 10px;
    }
}

@keyframes turn-up {
    0% {
        transform-origin: top left;
        transform: rotate(90deg);
        height: 32px;
        padding-left: 10px;
    }

    100% {
        transform-origin: top left;
        transform: rotate(0deg);
    }
}

@keyframes collapse {
    0% {
        width: 100%;
    }

    100% {
        width: 32px;
    }
}

@keyframes expand {
    0% {
        width: 32px;
    }

    100% {
        width: 100%;
    }
}

/* Weather Widget Styles */

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
    font-weight: 100;
}

.weather-widget-wrapper {
    height: 385px;
}

.weather-widget {
    background-color: #f9f3c8;
    border-radius: 15px;
    margin-right: 32px;
    padding: 24px 14px;
    box-shadow: 0px 2px 6px 0px rgba(23, 23, 23, 0.5);
}

#city,
#today {
    flex-basis: 100%;
    text-align: center;
}

.weather-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.weather-card-content {
    padding-right: 12px;
}

.forecast-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#city {
    padding-top: 16px;
}

/* Bootcamp Cards */
.products-wrapper {
    height: 450px;
    overflow: visible;

}

.product-card-row {
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.image-card {
    text-align: center;
    flex: 0 0 265px;
    /* border: 5px solid red; */
    border-radius: 15px;
    height: 350px;
    margin: 5px 32px 5px 2px;
    /* padding: 16px; */
    box-shadow: 0px 2px 6px 0px rgba(23, 23, 23, 0.5);
    overflow: visible;
}

.product-card {
    flex: 0 0 265px;
    background-color: #bce4fa;
    /* border-radius: 15px; */
    height: 318px;
    margin: 5px 32px 5px 2px;
    padding: 16px;
    box-shadow: 0px 2px 6px 0px rgba(23, 23, 23, 0.5);
    display: flex;
    flex-direction: column;
}

.screenshot {
    width: 100%;
    height: 100%;
    object-fit: fit;
}

/* Toggle (from W3C Schools example) */
.switch-label {
    color: #ffffff;
    padding: 0px;
    margin: 0px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 24px;
    margin: 6px 16px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #56f321;
}

input:focus+.slider {
    box-shadow: 0 0 1px #56f321;
}

input:checked+.slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

.slider.round {
    border-radius: 24px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Sticky Note */
#sticky-note {
    position: absolute;
    top: 42px;
    left: 42px;
    width: 220px;
    height: 160px;
    background-color: rgba(102,178,255,0.75);
    box-shadow: -2px 2px 2px 0px rgba(78, 78, 78, 0.75);
    display: flex;
    flex-direction: column;
}

#sticky {
    width: 100%;
    height: 100%;
    /* min-width: 220px;
    min-height: 160px; */
    background-color: rgba(102,178,255,0.50);
    overflow: hidden;
    border: none;
    resize: none;
}

#sticky:focus{
   outline: none;
}

/* Contact Form Styles */

.contact-me {
    color: #000000;
    font-size: 20px;
    padding: 16px 0px;
}

#contact-form {
    display: flex;
    flex-direction: column;
    padding: 16px 32px;
}

.label {
    padding: 6px 0px;
    font-size: 14px;
}

#message {
    resize: none;
    overflow-y: auto;
}

#name,
#email,
#message {
    padding: 0.5em;
}

#submit-button {
    padding: 10px;
    font-size: 16px;
    margin-top: 16px;
    width: 100px;
}


@media (min-width: 768px) {
    .main-container {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        margin-bottom: 0px;
    }

    .background-img {
        background: url("../img/sunrise.jpg") no-repeat center center;
        background-size: cover;
    }

    .bottom-nav-container {
        display: none;
    }

    .top-nav-display {
        display: block;
    }

    .nav-list {
        font-size: 18px;
    }

    .weather-widget {
        width: 65%;
        margin-left: auto;
        margin-right: auto;
    }

    .weather-card {
        justify-content: center;
    }

    .forecast-wrapper {
        justify-content: space-evenly;
    }
    
    #contact-form {
        width: 60%;
        margin: 0 auto;
    }

}

@media (min-width: 1200px) {

    h1 {
        font-size: 32px;
    }

    h1>span {
        font-size: 24px;
    }

    .main-container {
        width: 80%;
    }

    .top-nav-container {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .background-img {
        background: url("../img/mirror-lake.jpg") no-repeat center center;
        background-size: cover;
    }

    .weather-widget {
        width: 50%;
    }

    #contact-form {
        width: 50%;
        margin: 0 auto;
    }

}