* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}

body {
    box-sizing: border-box;
    font-family:'Cormorant Garamond', serif;
    background-color: #f1f3f5;
    height: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #000000;
    font-size: 28px;
}

#name {
    margin: 0 30px;
}

#name>span {
    font-size: 24px;
}

li>a {
    margin: 0 30px;
    text-decoration: none;
    color: #000000;
}

p>a {
    text-decoration: none;
    color: #000000;
    font-weight: 900;
}

.header {
    width: 100%;
    height: 75px;
    position: fixed;
    display: flex;
    align-items: center;
    top: 0px;
    left: 0px;
    background-color: #f1f3f5;
    border-bottom: 1px solid #b6b6b6;
    z-index: 1;
}

.top-nav-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

.top-nav-display {
    display: none;
}

.main-container {
    margin: 0px 0px 60px 0px;
    display: flex;
    flex-direction: row;
    position: relative;
    /* height: 100%; */
    flex: 1 1 auto;
    border-bottom: 1px solid #b6b6b6;
    overflow: hidden;
    -webkit-overflow-scrolling: touch
}

.bottom-nav-container {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    background-color: #f1f3f5;
    border-top: 1px solid #b6b6b6;
    z-index: 99;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    font-weight: 300;
    list-style: none;
    width: 100%;
    height: 100%;
}

.nav-list-item >a{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-me-wrapper {
    padding: 16px 0px 24px 0px;
    background-color: #f1f3f5;
    border-bottom: 1px solid #b6b6b6;
    margin-top: 75px;
}
.about-me {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 32px;
}

/* Main Page Turnstile Animations */
.wrapper {
    width: 100%;
    background: #f1f3f5;
    padding-top: 16px;
    /* margin-bottom: 60px; */
    /* flex: 1 1 auto; */
    overflow: scroll;
    -webkit-overflow-scrolling: touch
}

.turnstile {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 32px;
}

.content {
    font-size: 18px;
    color: #000000;
    margin-left: 32px;
    margin-right: 32px;
}

.project-list {
    font-family: "Prata", serif;
    list-style: none;
}

.project {
    display: inline-block;
    margin: 12px;
    cursor: pointer;
    padding: 0;
    transition: color 0.25s ease;
}
li:nth-child(3n) .project:hover {
    color: #03befc;
}
li:nth-child(3n+1) .project:hover {
    color: #fc0377;
}
li:nth-child(3n+2) .project:hover {
    color: #fc9803;
}

@keyframes turn-down {
    0% {
        transform-origin: top left;
    }

    100% {
        transform-origin: top left;
        transform: rotate(90deg);
        /* width: 200px; */
        /* height: 32px; */
        padding-left: 8px;
        padding-top: 6px;
        padding-bottom: 6px;
    }
}

@keyframes turn-up {
    0% {
        transform-origin: top left;
        transform: rotate(90deg);
        /* height: 32px; */
        padding-left: 8px;
        padding-top: 6px;
        padding-bottom: 6px;
    }

    100% {
        transform-origin: top left;
        transform: rotate(0deg);
    }
}

@keyframes collapse {
    0% {
        width: 100%;
    }

    100% {
        width: 32px;
    }
}

@keyframes expand {
    0% {
        width: 32px;
    }

    100% {
        width: 100%;
    }
}

/* Project Cards */

.github-link {
    font-size: 16px;
    padding: 3px;
    text-decoration: none;
    width: 100%;
}

.product-card {
    background: transparent;
    width: 100%;
    /* height: 100%; */
    padding: 16px;
    display: none;
    flex-direction: column;
    overflow: scroll;
    -webkit-overflow-scrolling: touch
    /* overflow-x: hidden; */
}

.product-card::after{
    content: "";
    padding: 24px;
}

.widget-card {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#password,
#generate {
    padding: 6px;
}


.screenshot {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
}

/* Contact Form Styles */

.contact-me {
    color: #000000;
    font-size: 20px;
    margin-top: 32px;
}

#contact-form {
    display: flex;
    flex-direction: column;
    padding: 16px 32px;
    margin-top: 75px;
}

.label,
#password-length{
    padding: 6px 0px;
    font-size: 18px;
    margin-top: 12px;
}

.contact-links {
    font-size: 18px;
}

#message {
    resize: none;
    overflow: auto;
}

#name,
#email,
#message {
    padding: 0.5em;
}

#submit-button {
    font-family: 'Cormorant Garamond', serif;
    padding: 10px;
    font-size: 20px;
    margin-top: 16px;
    width: 100px;
}

iframe {
    width: 100%;
    height: 860px;
}

.form-container {
    display: none;
}

@media (min-width: 768px) {

    body {
        flex-direction: row;
    }

    .about-me-wrapper {
        width: 40%;
        /* flex: 1 1 auto; */
    }

    .main-container {
        margin-top: 75px;
        margin-bottom: 0px;
        width: 60%;
    }

    .wrapper {
        border-left: 1px solid #b6b6b6;
    }

    .bottom-nav-container {
        display: none;
    }

    .top-nav-display {
        display: block;
    }

    .nav-list {
        font-size: 24px;
    }

    #contact-form {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
    }

    .product-card {
        padding-left: 48px;
        padding-right: 48px;
        width: calc(100% - 128px);
    }

}

@media (min-width: 1200px) {

    @keyframes collapse {
        0% {
            width: 60%;
        }

        100% {
            width: 32px;
        }
    }

    @keyframes expand {
        0% {
            width: 32px;
        }

        100% {
            width: 60%;
        }
    }

    .about-me-wrapper {
        width: 30%;
    }

    .main-container {
        width: 70%;
    }

    .wrapper  {
        width: 60%;
    }

    .product-card {
        width: calc(60% - 32px);
        /* padding: 16px 0px; */
    }

    h1 {
        font-size: 32px;
    }

    h1>span {
        font-size: 24px;
    }

    .top-nav-container {
        margin-left: auto;
        margin-right: auto;
    }

    #contact-form {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .form-container {
        display: block;
        width: 40%;
        background: #cee7ed;
        border-left: 1px solid #b6b6b6;
    }

    .form-container > #contact-form {
        width: calc(100% - 64px);
        padding: 20px 32px;
        /* margin: 0 32px; */
    }

}
